.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  main {
    padding: 20px;
  }
  
  .product-item, .stock-item {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item, .stock-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .product-item h3, .stock-item h3 {
    margin: 0;
  }
  
  .buy-button, .stock-button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .buy-button:hover, .stock-button:hover {
    background-color: #21a1f1;
  }

  .stock-container {
    margin-top: 20px;
  }

  .stock-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stock-item {
    width: 200px;
    margin: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
